<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cruise.project_cruise.mapper.UserMapper">

    <select id="selectEmail"  parameterType="com.cruise.project_cruise.dto.UserDTO" resultType="java.lang.String">
        select email from users where email=#{email}
    </select>
    <select id="selectSocialInfo" parameterType="java.lang.String" resultType="com.cruise.project_cruise.dto.UserDTO">

        select * from users where provider_id=#{provider_id}
    </select>

    <select id="selectPassWord" parameterType="java.lang.String" resultType="java.lang.String">
        select user_password from users where email=#{email}
    </select>

    <insert id="insertSocialUser" parameterType="com.cruise.project_cruise.dto.UserDTO">

        insert into users (email,email_verified,provider,provider_id) values (#{email}, #{email_verified}, #{provider}, #{provider_id})
    </insert>

    <insert id="insertNormalUser" parameterType="com.cruise.project_cruise.dto.UserDTO">
        insert into users (email,email_verified,user_password,user_name,provider,tel,address1,address2) values (#{email}, #{email_verified}, #{user_password}, #{user_name}, #{provider}, #{tel}, #{address1}, #{address2})
    </insert>

    <update id="updateUser" parameterType="com.cruise.project_cruise.dto.UserDTO">
        update users set user_name=#{user_name}, tel=#{tel}, address1=#{address1}, address2=#{address2} where email=#{email}
    </update>



    <!-- 여기 아래는 user관련 mapper는 아니지만 다른팀원과 충돌날 우려가 있어서 일단 여기에 만들겠음 -->
    <insert id="insertCrewMember" parameterType="com.cruise.project_cruise.dto.CrewMemberDTO">
        insert into crew_member (crew_num,cmem_email,joindate) values (#{crew_num}, #{cmem_email},sysdate)
    </insert>

    <select id="selectCaptain" parameterType="com.cruise.project_cruise.dto.CrewMemberDTO" resultType="java.lang.String">
        select captain_YN from crew_member where crew_num=#{crew_num} and cmem_email=#{cmem_email}
    </select>

</mapper>